.mobile{
    display: flex;
    align-items: center;
    border: solid 2px grey;
    padding: 0 1vw ;
}
.mobile img{
    width: 15vh;
}
.mobile h2,h6{
    padding: 0 2vw;
}
.mobile button{
    margin: 0 2vw;
}